.cover__subtitle {
  box-sizing: border-box;
  margin: 32px 0 0;
  color: #fff;
  max-width: 360px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.128rem;
  line-height: 1.22;
  text-align: center;
}

@media screen and (max-width: 631px) {
  .cover__subtitle {
    margin: 16px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
