.footer__copyright {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: right;
}

@media screen and (max-width: 631px) {
  .footer__copyright {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}
