.lead__image {
  margin-top: 64px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1080px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 680px) {
  .lead__image {
    margin-top: 40px;
  }
}
